
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("./../assets/fondo/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
.imagenopacidad
{
    opacity: 0.5;
}
/*HEADER*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 9;
}
.nav-custom{
    justify-items: flex-end;
}
.navbar-nav{
    padding: 10px 0;
}
.navbar-nav .nav-item  {
    padding: 0 10px;
    border-right: 1px solid black;
}
.navbar-nav .nav-item .nav-link {
    padding: 0 10px;
    color: White;
    font-family: "Times New Roman";
}
.navbar-nav .nav-item:last-child {
    border-right: 0px solid black;
}

.render-image{
    margin-top: 100px
}

.render-image-btn{
    width: 300%;
    padding-left: 60px;
}

/*END HEADER */

/*HOME PAGE*/
.main-banner{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-items: center;
}
.content-banner{
    text-align: center;
    width: 100%;
    padding: 0 200px;
}
.pad-left-10{
    padding-left: 30px;
}
.middle-buttons{
    width: 40%;
}
.to-hover{
    top: 0;
    position: relative;
    transition: top 0.2s;
    cursor: pointer;
    color: red;
    text-decoration: none;
}
.to-hover:hover{
    top: -5px;
    text-decoration: none;
    color: red;
}
.content-banner p{
    margin-top: 50px;
    color: black;
}
.content-banner .btn-custom{
    padding: 10px 50px !important;
    background: #0000009a;
    border-radius: 0px;
    color: white;
    margin-top: 50px;
}
.content-banner .btn-custom:hover{
    background: black;
}
/*END HOME PAGE*/

/*BENEFICIOS */
.main-benefits{
    padding: 100px 0;
}
.fa-check-circle{
    font-size: 50px;
}
.content-benefits .col-4{
   text-align: center;
}
.benefits-title{
    text-align: center;
    margin-bottom: 50px;
}
.benefits-subtitle{
    text-align: center;
    margin-bottom: 20px;
}

/*END BENEDIFICIOS*/

/*COMUNITY */
.main-comunity{
    padding: 100px 0;
}
.comunity-title{
    text-align: center;
    margin-bottom: 50px;
}
.comunity-subtitle{
    text-align: center;
    margin-bottom: 20px;

}
/*END COMUNITY*/


/*TESTIMONIES*/
.main-testimonies{
    padding: 100px 0;
}
.testimonies-title{
    text-align: center;
    margin-bottom: 50px;
}
.card-testimonies{
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    transition: box-shadow 0.5s;
    margin-bottom: 20px;
}
.comment{
    font-weight: 700;
}
.card-testimonies:hover{
    -webkit-box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -1px rgba(0,0,0,0.75);

}
.card-testimonies p{
    text-align: center;
}
.img-testimonies{
    width:  50px;
    border-radius: 50%;
}
/*END TESTIMONIES*/

/*CONCTACT*/
.main-contact{
    padding: 100px 0;
}
.contact-title{
    text-align: center;
    margin-bottom: 50px;
}
.contact-subtitle{
    text-align: center;
    margin-bottom: 20px;
}
.contact-form{
    display: flex;
    justify-content: center;
}
.contact-form form{
    width: 600px;
}
.form-control{
    border-radius: 0px;
    border: 1px solid black;
}
.form-row input{
    border-radius: 0px;
    border: 1px solid black;
    padding: 20px 10px;
}
.btn-contact{
    background: #0000009a;
    color: white;
    width: 100%;
    border-radius: 0px;
    height: 100%;
}
.btn-contact:hover{
    background:black;
    color: white;
}
/*END CONTACT*/

/*REGISTER */
.main-register{
    padding: 100px 0;
}
.register-title{
    text-align: center;
    margin-bottom: 50px;
}
.register-subtitle{
    text-align: center;
    margin-bottom: 20px;
}
.btn-register{
    border-radius: 0px;
    padding: 10px 20px;
    background: #0000009a;
    color: white;
}
.btn-register:hover{
    color: white;
    background:black;
}
/*END REGISTER*/

/*FOOTER*/
footer{
    background: black;
}
.main-footer{
    padding: 50px 0;
    border-top: 1px solid black;
    background: greenyellow;
}
.content-footer{
    display: flex;
    justify-content: center;
}
.content-footer a {
    cursor: pointer;
    padding: 0 10px;
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
}
.content-footer a:hover {
    color: black;
    text-decoration: none;
}

.content-footer a:last-child {
    border-right: 0px solid black;
}
/*END FOOTER*/
@media (max-width:768px){
    h1{
        font-size: 24px;
        color
    }
    h3{
        font-size: 20px;
    }
    .navbar {
        background: black;
    }
    .navbar button{
        background: white;
    }
    .navbar-nav .nav-item .nav-link {
        padding: 50 10px;
        color: white;
    }
    .content-banner{
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }
    .content-benefits .col-lg-8{
        text-align: center;
        margin-bottom: 20px;
    }
    .content-footer a {
        font-size: 10px;
        text-align: center;
    }
    .render-image{
        display: none;
    }
}